<!-- Edit Building Modal -->
<div class="modal fade" id="editBuildingModal" tabindex="-1" aria-labelledby="editBuildingModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editBuildingModalLabel">Chỉnh sửa Tòa nhà</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="editBuildingForm">
          <input type="hidden" id="editBuildingIdHidden">
          <div class="mb-3">
            <label for="editBuildingName" class="form-label">Tên tòa nhà mới</label>
            <input type="text" class="form-control" id="editBuildingName" required>
          </div>
          <button type="submit" class="btn btn-primary w-100">Lưu thay đổi</button>
        </form>
      </div>
    </div>
  </div>
</div> 